@import "../../../../variables";

.Progress {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;

    &__Background,
    &__Foreground {
        position: absolute;
        height: 100%;
        cursor: pointer;
    }

    &__Background {
        width: 100%;
        background-color: $color-gray-light;
    }

    &__Foreground {
        background-color: red;
        pointer-events: none;
    }
}

