@import "../../variables";

.VideoPlayer {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__Screen {
        height: 100%;
        position: relative;
    }

    &__TranscriptWrapper {
        height: 100%;
        background-color: #ccc;
        padding: 1rem;
        font-size: $default-font-size;
        overflow: hidden;
        overflow-y: scroll;
        // margin-left: 1rem;
        // width: 20rem;
    }
}